.About {
    margin-top: 400px;
}

.aboutH2 {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    transform: translate(0px, 250px);
    background: linear-gradient(100deg, rgba(211, 35, 173, 0.88) -11.29%, #382AD7 67.74%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    // side lines
    padding: 30px 0px 0px 0px;
    border-image-slice: 1;
    width: 100px;
    margin: 0 auto;
    border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
}

.about-line {
    position: relative;
    top: 300px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
}

.about-nav-wrapper {
    transform: translate(0px, 341px);
    display: flex;
    justify-content: center;
    li {
        list-style: none;
        padding-right: 50px;
        padding-left: 50px;
        transition: all .4s ease-in-out;
    }
    .aboutnavItem:hover {
        transform: scale(1.2);
    }
}

.about-link {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: left;
    text-decoration: none;
    background: linear-gradient(95.66deg, #382AD7 -0.43%, rgba(211, 35, 173, 0.88) 75.83%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: none;
    outline: none;
    padding: 10px 0px 10px 0px;
}

.about-slider-wrapper {
    width: 200%;
    height: 500px;
    margin-right: 80%;
}

.track {
    margin-top: 400px;
    width: 100%;
    height: 500px;
    display: flex;
    transition: transform 250ms ease-in;
    overflow: hidden;
    transform: translateX(5%);
}

.box {
    width: 400%;
    height: 480px;
    background: #FFFFFF;
    border: 1px solid #053B6D;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 2px rgba(21, 34, 148, 0.29);
    transform: translate(100px, 0%);
    display: flex;
    z-index: 1;
    clip-path: circle(0% at 0 50%);
    .infowrapper {
        width: 300px;
        height: 200px;
        transform: translate(80px, 65px);
        display: flex;
    }
    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #3E3636;
        max-width: 100%;
        max-height: 100%;
    }
    .imgbox {
        width: 330px;
        height: 330px;
        // margin-top: 100px;
        // margin-left: 250px;
        margin-right: 100%;
        // transform: translateX(70%);
        img {
            width: 100%;
            max-height: 100%;
            right: 30px;
            display: block;
        }
    }
}

.track .box.active-slide {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.bottom-nav .nav-dot.active-slide {
    background: #0E1E56;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-nav-wrapper .about-link.active-slide {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
}

.bottom-nav {
    display: flex;
    text-align: center;
    justify-content: center;
    transform: translate(0%, 0px);
}

.bottom-nav .nav-dot {
    background: #e8e9ee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #7B2899;
    margin-inline: 10px;
}