            .About {
                    margin-top: 400px;
                }
                
                .aboutH2 {
                    font-family: Montserrat;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: center;
                    transform: translate(0px, 250px);
                    background: linear-gradient(100deg, rgba(211, 35, 173, 0.88) -11.29%, #382AD7 67.74%);
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    // side lines
                    padding: 30px 0px 0px 0px;
                    border-image-slice: 1;
                    // border-top: 1px solid;
                    width: 100px;
                    margin: 0 auto;
                    border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
                }
                
                .about-line {
                    position: relative;
                    top: 300px;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
                }
                
                .about-nav-wrapper {
                    transform: translate(0px, 341px);
                    display: flex;
                    justify-content: center;
                    li {
                        list-style: none;
                        padding-right: 50px;
                        padding-left: 50px;
                    }
                    span {
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.06em;
                        text-align: left;
                        text-decoration: none;
                        background: linear-gradient(95.66deg, #382AD7 -0.43%, rgba(211, 35, 173, 0.88) 75.83%);
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                    }
                    .active {
                        border-bottom: 1px solid;
                        border-top: 1px solid;
                        padding: 10px 0px 10px 0px;
                        border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
                    }
                }
                
                .box {
                    transform: translate(0px, 370px);
                    width: 1021px;
                    height: 480px;
                    background: #FFFFFF;
                    border: 1px solid #053B6D;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 10px 2px rgba(21, 34, 148, 0.29);
                    margin: 0 auto;
                    margin-bottom: 100px;
                    .infowrapper {
                        width: 400px;
                        transform: translate(80px, 65px);
                    }
                    span {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: 0.06em;
                        color: #3E3636;
                    }
                    .infowrapper {
                        img {
                            transform: translate(530px, -350px);
                            border-radius: 0px;
                            width: 330px;
                            height: 330px;
                        }
                    }
                }
                
                .bottom-nav {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    transform: translate(0%, 400px);
                    nav-dot {
                        width: 22px;
                        height: 22px;
                        background: #0E1E56;
                        border-radius: 50%;
                        border: 1px solid #7B2899;
                        // box-sizing: border-box;
                        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }