    .Contact {
        margin-top: 400px;
        margin-bottom: 600px;
    }
    
    .contactH2 {
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        // line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        // transform: translate(0px, 250px);
        background: linear-gradient(261.67deg, #2241DF 18.12%, #62298E 63.54%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        // side lines
        padding: 30px 0px 0px 0px;
        border-image-slice: 1;
        // border-top: 1px solid;
        width: 100px;
        margin: 0 auto;
        border-image-source: linear-gradient(261.67deg, #2241DF 18.12%, #62298E 63.54%);
    }
    
    .contact-line {
        position: relative;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
        top: 40px;
        margin-bottom: 100px;
    }
    
    .Message {
        margin-bottom: 300px;
        position: absolute;
        left: 792px;
        text-decoration-line: underline;
        // top: 266px;
        // transform: translate(792px, 266px);
        font-family: Montserrat;
        // font-style: normal;
        // font-weight: normal;
        font-size: 16px;
        // line-height: 27px;
        letter-spacing: 0.06em;
        padding: 10px 0px 10px 0px;
        // border-top: 1px solid;
        background: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        // border-image-source: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
        .gradient-underline {
            border-bottom: 1px solid;
            border-top: 1px solid;
            padding: 10px 0px 10px 0px;
            // border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
        }
    }