        .Contact {
            margin-top: 900px;
            // margin-bottom: 800px;
        }
        
        .contactH2 {
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            // line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            // transform: translate(0px, 250px);
            background: linear-gradient(261.67deg, #2241DF 18.12%, #62298E 63.54%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            // side lines
            padding: 30px 0px 0px 0px;
            border-image-slice: 1;
            // border-top: 1px solid;
            width: 100px;
            margin: 0 auto;
            border-image-source: linear-gradient(261.67deg, #2241DF 18.12%, #62298E 63.54%);
        }
        
        .contact-line {
            position: relative;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
            top: 40px;
            margin-bottom: 100px;
        }
        
        .contactInline {
            width: 70%;
            justify-content: center;
            transform: translateX(18%);
            // margin: 0 auto;
        }
        
        .inputfieldswrapper {
            position: relative;
            width: 70%;
        }
        
        .inputgroups {
            position: relative;
            width: 70%;
            margin-top: 5px;
        }
        
        .inputfield {
            display: block;
            margin-top: 50px;
            width: 350px;
            border: none;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
            outline: none;
            width: 80%;
        }
        
        .Name {
            font-family: Montserrat;
            font-size: 16px;
            letter-spacing: 0.06em;
            background: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            // border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
        }
        
        .Email {
            font-family: Montserrat;
            font-size: 16px;
            letter-spacing: 0.06em;
            background: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            // border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
        }
        
        .Phone {
            font-family: Montserrat;
            font-size: 16px;
            letter-spacing: 0.06em;
            background: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            // border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
        }
        
        .Message {
            position: relative;
            // left: 755px;
            text-decoration-line: underline;
            font-family: Montserrat;
            font-size: 16px;
            letter-spacing: 0.06em;
            background: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(283.35deg, #BE35FF 59.23%, rgba(16, 45, 147, 0.85) 123.85%);
        }
        
        .messagebox {
            width: 130%;
            height: 278px;
            background: #FFFFFF;
            box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
            transform: translate(0px, 50px);
            outline: none;
            border: none;
            padding: 10px;
            display: block;
        }
        
        .messagewrapper {
            position: relative;
            margin-left: 55%;
            top: -280px;
        }
        
        .send-button {
            position: relative;
            width: 260px;
            height: 55px;
            top: -200px;
            // left: 870px;
            margin-left: 70%;
            text-align: center;
            // margin-top: 120px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.06em;
            background: #FFFFFF;
            box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            background: linear-gradient(106.39deg, rgba(25, 23, 149, 0.93) 23.05%, rgba(145, 46, 206, 0.98) 73.56%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            border-image-source: linear-gradient(106.39deg, rgba(25, 23, 149, 0.93) 23.05%, rgba(145, 46, 206, 0.98) 73.56%);
            transition: all .4s ease-in-out;
        }
        
        .send-button:hover {
            transform: scale(1.2);
        }
        
        .contact-item {
            font-family: Montserrat;
            font-size: 16px;
            letter-spacing: 0.06em;
            margin-bottom: 15px;
            list-style: none;
            margin-bottom: 30px;
            display: flex;
        }
        
        .item-icon {
            margin-right: 40px;
        }
        
        .contactdetails {
            position: relative;
            top: -250px;
        }
        
        .contact-details {
            font-family: Montserrat;
            font-size: 16px;
            letter-spacing: 0.06em;
            background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
            position: relative;
            left: 135px; // margin-top: 400px;
        }
        
        .contact-group {
            position: relative;
            left: 135px;
            top: 80px;
        }
        
        .contact-info {
            background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
        }
        
        .footer-line {
            position: relative;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
            top: 440px;
        }
        
        .row {
            display: flex;
            justify-content: center;
            // width: 15%;
        }
        
        .footer-row {
            // left: 353px;
            // display: flex;
            justify-content: center;
            margin-top: 500px;
            margin-inline: 5%;
            .about-heading {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 0.06em;
                background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                border-bottom: 1px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
            }
            .about-item {
                list-style: none;
                justify-content: center;
                text-align: center;
                margin-bottom: 25px;
                transition: all .4s ease-in-out;
            }
            .aitem:hover {
                transform: scale(1.2);
            }
            a {
                text-decoration: none;
            }
            .about-category {
                background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                border-image-slice: 1;
                border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                font-size: 16px;
            }
            .service-heading {
                // width: 180px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 0.06em;
                margin-bottom: 30px;
                background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                border-bottom: 1px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                justify-content: center;
                text-align: center;
                margin-inline: 20px;
            }
            .service-item {
                list-style: none;
                text-align: center;
                margin-bottom: 25px;
                transition: all .4s ease-in-out;
            }
            .sitem:hover {
                transform: scale(1.2);
            }
            a {
                text-decoration: none;
            }
            .service-category {
                background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                border-image-slice: 1;
                border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                font-size: 16px;
            }
            .contacts-heading {
                // width: 180px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 0.06em;
                margin-bottom: 30px;
                background: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                border-bottom: 1px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(109.72deg, #2D19A7 31.8%, rgba(206, 27, 222, 0.92) 53.31%);
                justify-content: center;
                text-align: center;
            }
            .contacts-item {
                list-style: none;
                text-align: center;
                margin-bottom: 25px;
                transition: all .4s ease-in-out;
            }
        }
        
        .second-footer-line {
            position: relative;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
            // top: 840px;
        }
        
        .footer-logo {
            width: 260px;
            height: 260px;
            position: absolute;
            left: 163px;
            transform: translateY(-30px);
        }
        
        .copyright-wrapper {
            margin-top: 80px;
            text-align: center;
            border: 1px solid;
            background-image: linear-gradient(157.31deg, rgba(206, 27, 222, 0.92) 0.45%, #2D19A7 98.17%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            border-image-source: linear-gradient(157.31deg, rgba(206, 27, 222, 0.92) 0.45%, #2D19A7 98.17%);
            img {
                width: 15px;
                height: 15px;
            }
        }
        
        @media screen and (max-width: 930px) {
            .Contact {
                margin-top: 1500px;
            }
            .contactInline {
                position: relative;
            }
            .messagewrapper {
                top: 50px;
                margin-left: 0;
                width: 85%;
            }
            .send-button {
                top: 140px;
                margin-left: 30%;
            }
            .inputfieldswrapper {
                position: relative;
                display: block;
                width: 200%;
                margin: 0 auto;
            }
            .contactdetails {
                position: relative;
                top: 250px;
                left: 0px;
                width: 100%;
            }
            .contact-details {
                // left: 135px;
                position: relative;
                // margin: 0 auto;
                justify-content: center;
                text-align: center;
                left: 43%;
            }
            .contact-group {
                position: relative;
                // display: flex;
                left: -1%;
                // width: 75%;
            }
            .contact-info {
                display: block;
            }
            .item-icon {
                margin-right: 0;
                padding-bottom: 10px;
            }
            .contact-item {
                display: block;
                position: relative;
                text-align: center;
            }
            .footer-row {
                margin-inline: 3%;
            }
        }
        
        @media screen and (max-width: 825px) {
            .footer-row {
                // margin-inline: 2%;
            }
        }
        
        @media screen and (max-width: 800px) {
            .row {
                display: block;
            }
            .footer-row {
                position: relative;
                width: 200px;
                justify-content: center;
                left: 25%;
                // margin: 0 auto;
            }
            .about-heading {
                margin-inline: 90px;
            }
        }
        
        @media screen and (max-width: 700px) {
            .send-button {
                margin-left: 25%;
            }
            .contact-details {
                left: 40%;
            }
            .contact-group {
                left: -2%;
            }
        }
        
        @media screen and (max-width: 630px) {
            .send-button {
                margin-left: 22%;
            }
            .contact-details {
                left: 38%;
            }
            .contact-group {
                left: -4%;
            }
        }
        
        @media screen and (max-width: 595px) {
            .send-button {
                margin-left: 18%;
            }
        }