.logo {
    height: 118px;
    width: 292px;
    margin: 40px;
}

.NavMenu {
    list-style: none;
    display: flex;
    li {
        color: background: linear-gradient(95.66deg, #382AD7 -0.43%, rgba(211, 35, 173, 0.88) 75.83%);
        ;
    }
}