.logo {
    height: 118px;
    width: 292px;
    margin: 40px;
}

.NavMenu {
    list-style: none;
    display: flex;
    li {
        Stroke: Linear Gradient(#356EC3)rgba(180, 45, 227, 0.72);
    }
}