.logo {
    height: 118px;
    width: 292px;
    margin: 40px;
}

.NavMenu {
    list-style: none;
    display: flex;
    li {
        Stroke: linear-gradient(red, yellow, blue);
        color: rgb(173, 41, 41);
    }
    a {
        color: inherit;
    }
}