.logo {
    height: 118px;
    width: 292px;
    margin: 40px;
}

.NavMenu {
    list-style: none;
    display: flex;
    height: 52px;
    width: 585px;
    left: 786px;
    top: 88px;
    border-radius: nullpx;
}

//     height: 29px;
// width: 539px;
// left: 757px;
// top: 64px;
// border-radius: 15px;