@import "header";
.active {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 2px 0px 2px 0px;
    border-image-slice: 1;
    // border-width: 1px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}