@import "header";
.nav-line {
    width: 120%;
    height: 1px;
    background-image: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
}

.homeH3 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: center;
    background: linear-gradient(100deg, #382AD7 30.95%, rgba(211, 35, 173, 0.88) 70.94%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateY(80px);
}

.homeH2 {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 565px;
    margin: 0 auto;
    transform: translateY(130px);
    left: 437px;
    background: linear-gradient(103.78deg, rgba(211, 35, 173, 0.88) 11.89%, #382AD7 84.16%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    // side lines
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 0px 10px 0px 10px;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
    span {
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 0.06em;
        text-align: center;
    }
}

.containerbtn {
    text-align: center;
    width: 250px;
    height: 20px;
    transform: translate(0, 228px);
    margin: 0 auto;
    .contactbtn {
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.06em;
        width: 250px;
        border-radius: 8px;
        background: linear-gradient(97.85deg, #D323AD 14.7%, #382AD7 95.33%);
        display: inline-block;
        padding: 1.5px;
        text-decoration: none;
        span {
            background: #fff;
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: inherit;
            transition: all .4s ease-in-out;
        }
        .GetInTouch:hover {
            background: linear-gradient(97.85deg, #D323AD 14.7%, #382AD7 95.33%);
            color: white;
        }
    }
}

.service-images-wrapper {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
        position: relative;
        list-style: none;
        transform: translate(0px, 343px);
        margin: 0 auto;
        // margin-inline: 4%;
    }
    .homeImgWrapper {
        position: relative;
        width: 80%;
        height: 80%;
        text-align: center;
        justify-content: center;
    }
    .homeImg {
        height: 80%;
        width: 80%;
    }
    h4 {
        position: relative;
        width: 300px;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.06em;
        background: linear-gradient(95.66deg, #382AD7 -0.43%, rgba(211, 35, 173, 0.88) 75.83%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        // margin: 0 auto;
        text-align: center;
        // justify-content: center;
    }
}

@media screen and (max-width: 930px) {
    .service-images-wrapper {
        position: relative;
        li {
            display: block;
        }
    }
    .homeImgWrapper {
        height: 180px;
        width: 180px;
    }
    .homeImg {
        // height: 130px;
        // width: 130px;
        max-width: 50%;
        max-height: 50%;
    }
    h4 {
        text-align: center;
        justify-content: center;
    }
}

@import "HomeMobile"