@import "header";
.active {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 2px 0px 2px 0px;
    border-image-slice: 1;
    // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-image-source: linear-gradient(270deg, #356EC4 -17.69%, rgba(180, 45, 227, 0.72) 118.65%);
}